$desktop-width: 1024px;
$tab-width: 991px;
$mobile-width: 767px;
$cell-width: 370px;

$sand-brown: #d8a657;
$puce: #a8835a;
$carmine: #951619;
$hawaiian-sunset: #b55415;
$terra-cotta: #c55c36;
$reddy-brown: #6d1c19;
$chilean-fire: #c75c2f;
$homestead-red: #937171;
$old-mandarin: #892420;
